<%= form_with(model: @blog ,url: choose_new_or_edit ,local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :content ,placeholder: "投稿する内容" ,id: "textarea" %>
  <%= image_tag(@blog.image.url) if @blog.image.url %>
  <div class="image">
    <%= form.file_field :image %>
  </div>
  <%= form.hidden_field :image_cache %>

  <br>
  <%= form.submit "投稿する" ,class: "btn btn-primary" %>
<% end %>



