<div class="new_create_user">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "件のエラーがあります。") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li class="errors_msg"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>新規アカウントの作成</h1>
<p>無料でご利用いただけます。</p>

<%= form_with(model:@user,local: true) do |f| %>
    <div class="name_email">
      <%= f.text_field :name,placeholder: "お名前",size: 30 %>
      <%= f.email_field :email,placeholder: "メールアドレス",size: 30 %>
    </div>

    <div class="password">
      <%= f.password_field :password,
                           placeholder: "パスワード",size: 62 %>
    </div>

    <div class="re_password">
      <%= f.password_field :password_confirmation,
                            placeholder: "パスワードを再入力",size: 62 %>
    </div>

  <%= f.submit "アカウント登録" ,class: "submit btn btn-success" %>

<% end %>
