
  <h1>ユーザー情報</h1>

  <p>ユーザー名:<%= @user.name %></p>
  <p>メールアドレス:<%= @user.email %></p>


  <table class="index_table">
    <tbody>

    <% @blogs.each do |tmp| %>

    <% if tmp.user_id == session[:user_id] %>
      <% blog = tmp %>

      <tr>
        <th class="show_td">gi<%= blog.content %></th>

        <td class="show_td">User:<%= blog.user.name %></td>

        <td class="show_td"><%= link_to '詳細', blog_path(blog.id),
                                        class: "btn btn-primary" %></td>

        <td class="show_td"><%= link_to '編集', edit_blog_path(blog.id),
                                        class: "btn btn-warning" %></td>

        <td class="show_td"><%= link_to '削除', blog_path(blog.id), method: :delete ,
                                        data: { confirm: '本当に削除してもよろしいですか?' },
                                        class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
