<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <div class="container">
    <header class="header">
      <ul class="top_menu clearfix">
        <li class="li_top li_logo"><a href="/users">FacebookClone</a></li>

        <% if logged_in? %>
          <li class="li_top">
            <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
          </li>
          <li class="li_top"><a href="/users/show">ユーザー情報</a></li>
          <li class="li_top"><a href="#">投稿</a></li>
        <% else %>
          <li class="li_top"><a href="/users/new">会員登録</a></li>
          <li class="li_top"><a href="/sessions/new">ログイン</a></li>
        <% end %>
      </ul>
    </header>

  <body>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%= yield %>
  </body>


  </div>
  <footer class="footer">
    <p>FacebookClone 2019</p>
  </footer>
</html>
