<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <header class="header">
      <ul class="top_menu clearfix">

        <% if logged_in? %>
          <li class="li_top li_logo"><a href="##">FacebookClone</a></li>
          <li class="li_top">
            <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
          </li>
          <li class="li_top">
            <%= link_to "ユーザー情報", user_path(current_user.id) %>
          </li>
          <li class="li_top"><a href="/blogs/new">投稿</a></li>
        <% else %>
          <li class="li_top li_logo"><a href="/users">FacebookClone</a></li>
          <li class="li_top"><a href="/users/new">会員登録</a></li>
          <li class="li_top"><a href="/sessions/new">ログイン</a></li>
        <% end %>
      </ul>
    </header>
    <body>
    <div class="container">
      <div class="info">

        <% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>

      </div>

        <%= yield %>
    </div>
    </body>

  <footer class="footer">
    <p>FacebookClone 2019</p>
  </footer>
  </div>

</html>
